*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #242424;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}